# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
*.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store

# IDE
.vscode/
.idea/
nazmo-connector/.github/
nazmo-connector/.husky/
nazmo-connector/cbs-mock/
